Trabajo con archivos de datos

In [24]:
# Carga de librerias
import json
import pandas as pd
import csv

# Set path to then data
path_input_json = '../01 datos/01 inputs/data.json'
path_output_csv = '../01 datos/02 outputs/data.csv'
path_output_parquet = '../01 datos/02 outputs/data.parquet'
path_output_avro = '../01 datos/02 outputs/data.avro'

In [9]:

data = {"nombre": "John", "edad": "30", "ciudad": "New York"}

with open(path_input_json, 'w') as json_file:
    json.dump(data, json_file)

In [6]:
with open(path_input_json, 'r') as json_file:
    data = json.load(json_file)
    print(data)

{'nombre': 'John', 'edad': 30, 'ciudad': 'New York'}

In [13]:
df_json = pd.read_json(path_input_json,typ="series")
df_json

nombre        John
edad            30
ciudad    New York
dtype: object

#Archivos CSV

In [16]:
data = [["nombre", "edad", "ciudad"],
        ["John", 30, "New York"],
        ["Anna", 25, "London"],
        ["Mike", 35, "San Francisco"]]

with open(path_output_csv, 'w', newline='') as csv_file:
    writer = csv.writer(csv_file)
    writer.writerows(data)

In [17]:
with open(path_output_csv, 'r') as csv_file:
    reader = csv.reader(csv_file)
    for row in reader:
        print(row)

['nombre', 'edad', 'ciudad']
['John', '30', 'New York']
['Anna', '25', 'London']
['Mike', '35', 'San Francisco']

In [18]:
df = pd.read_csv(path_output_csv)
df

  nombre  edad         ciudad
0   John    30       New York
1   Anna    25         London
2   Mike    35  San Francisco

In [22]:
data = {
    "nombre": ["John", "Anna", "Mike"],
    "edad": [30, 25, 35],
    "ciudad": ["New York", "London", "San Francisco"]
}
df = pd.DataFrame(data)
df.to_parquet(path_output_parquet)

In [23]:
pd.read_parquet(path_output_parquet)

  nombre  edad         ciudad
0   John    30       New York
1   Anna    25         London
2   Mike    35  San Francisco

hola

# hola

## hola

In [25]:
import fastavro
from fastavro.schema import load_schema

schema = load_schema('schema.avsc')
records = [{"nombre": "John", "edad": 30, "ciudad": "New York"},
           {"nombre": "Anna", "edad": 25, "ciudad": "London"},
           {"nombre": "Mike", "edad": 35, "ciudad": "San Francisco"}]

with open(path_output_avro, 'wb') as avro_file:
    fastavro.writer(avro_file, schema, records)

SchemaRepositoryError: Failed to load 'schema' schema